/* @import url(https://necolas.github.io/normalize.css/8.0.1/normalize.css); */

/*  BETA VERSION  */

#container {
  width: 510px;
}

#main_container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  /* border: 1px solid #777; */
}

#cont_ajustes {
  display : none;
}

h1 {
  /* border: 1px solid #777; */
  display: flex;
  width: 400px;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0;
}

.made_by{
  /* border: 1px solid #777; */
  color: grey;
  font-weight: 200;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  margin: 0;
}

/*PARA QUE EL BOTON NO SE VAYA AL FINAL DE LA PAGINA SI NO QUE COJA COMO PADRE ESTA*/
#ajustes_button_div {
 position: relative; 
}

/*LO MANDAMOS A LA ESQUINA SUPERIOR DERECHA DE LA PANTALLA PARA QUE SE FUSIONE CON EL H1*/
#ajustes{
  position: absolute;
  right: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 30px;
}

#ajustes:after{

  content: '\26ED'; 
  font-size: 22px;
  font-weight: 900;
  color: #777;
}

#ajustes:hover{

  transform: rotate(45deg);
  transition: 0.3s;
}

#submitBtn{
  margin-bottom: 10px;
  border-radius: 5px;
  width: 200px;
}

#group_accs{
  display: flex;
}

.accs{  
  position: relative;
}

.output {
  position: relative;
  left: -100px;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  width: 100%;
  background-color: transparent;
  color: #444;
  text-align: left;
  position: absolute;
  width: 130px;
  height: inherit;
  top: 0;
  left: 0;
  border:none; 
  border-color: lightgrey;
  padding: 0;
  z-index: 1;
  margin-left: 10px;
}

.accordion:hover {
  cursor: pointer;
}
/*

.accordion:after {
  transition: 0.6s;
  transform: rotate(270deg);
  content: '\2228'; 
  font-size: 13px;
  font-weight: 900;
  color: #777;
  float: right; 
} */

.panel {
  
  display: none;
  overflow: hidden;
}

.loader {

  display: none;
  color: black;
  font-family: Consolas, Menlo, Monaco, monospace;
  font-weight: bold;
  font-size: 20px;
  opacity: 0.8;
  position: absolute;
  top: 2px;
  left: 116px;
}
.loader:before {
  content: "{";
  display: inline-block;
  animation: pulse 0.4s alternate infinite ease-in-out;
}
.loader:after {
  content: "}";
  display: inline-block;
  animation: pulse 0.4s 0.3s alternate infinite ease-in-out;
}

@keyframes pulse {
  to {
    transform: scale(0.8);
    opacity: 0.5;
  }
}

.parallelogram_container_input {
  position: relative;
  display: flex;
  width: 360px;
  height: 30px;
  margin-bottom: 5px;
}

.parallelogram {
  height: inherit;
  width: 180px;
  clip-path: polygon(0% 0%, 100% 0%, 75% 100%, 0% 100%);
  background: black;
}

.pseudoBorder_parallelogram {
  position: absolute;
  background: white;
  width: 180px;
  height: inherit;
  top: 0;
  left: 0;
  clip-path: polygon(1% 4%, 99% 4%, 75% 98%, 1% 98%);
}

.parallelogram_container_input_delete {
  position: relative;
  display: flex;
  justify-content: center;
  width: 65px;
  height: 30px;
  margin-bottom: 10px;
  background-color: transparent;
  left: -40px;
}

.parallelogram_delete {
  height: inherit;
  width: inherit;
  clip-path: polygon(68% 0%, 100% 0%, 100% 100%, 0% 100%);
  background: black;
}

.pseudoBorder_parallelogram_delete {
  position: absolute;
  background: white;
  width: inherit;
  height: inherit;
  top: 0;
  left: 0;
  clip-path: polygon(68% 2%, 98% 2%, 98% 98%, 2% 98%);
}

.papelera{
  height: 25px;
  width: 25px;
  position: relative; 
  left: -65px;
  top: 3px;
  z-index: 1;
  background-color: transparent;
}

.papelera:hover {
  cursor: pointer;
}

.copy_container{
  position: relative; 
  left: -63px;
  background: white;
  border: 1px solid black;
  width: 30px;
  height: 28px;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.copiar {
  margin-left: 1px;
  height: 30px;
  width: 30px;
}

.copiar:hover {
  cursor: pointer;
}

.loader {

  color: black;
  font-family: Consolas, Menlo, Monaco, monospace;
  font-weight: bold;
  font-size: 12px;
  opacity: 0.8;
  position: absolute;
  top: 7px;
  left: 103px;
  z-index: 2;
}
.loader:before {
  content: "{";
  display: inline-block;
  animation: pulse 0.4s alternate infinite ease-in-out;
}
.loader:after {
  content: "}";
  display: inline-block;
  animation: pulse 0.4s 0.3s alternate infinite ease-in-out;
}

#inputArea{
  margin-top: 0;
  min-height: 100px;
  max-height: 300px;
  min-width: 233px;
  max-width: 233px;
  font-size: 15px;
}

#outputArea {
  margin-top: 0;
  min-height: 100px;
  max-height: 300px;
  min-width: 233px;
  max-width: 233px;
  font-size: 15px;
}

#cont_ajustes_volver{
  
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-right: 5px;
  float: right;
}

#cont_ajustes_volver:after{

  content: '\21B6';
  font-size: 20px;
  font-weight: 900;
  color: #777;  
}

#cont_ajustes_volver:hover{

  transform: rotate(-80deg);
  transition: 0.3s;
}

.cont_ajustes_fields{
  background-color: transparent;
  padding-left: 8px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid grey;
}

.cont_ajustes_fields input{
  border: none;
  background-color: transparent;
  margin-left: 20px;
  width: 400px;
  padding: 8px;
}

.cont_ajustes_fields input:focus{
  outline: none;
}

/*  NORMAL VERSION  */

